// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  background-color: #fff;

}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #59ac98;
}

a:hover {
  color: #2f6558;
}

p , li {
  color: #646464;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.8em;

}



.title {

}

#role {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

#bkg-gradient {
  background: linear-gradient(to bottom right,#50a3a2 0%,#78cc6d 100%);
  position: fixed;
  top: 0;
  left: 80px;
  // width: 100%;
  height: 100%;
  width: 400px;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;


    .avatar-large {
      margin: 80px 0 48px 0;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;

      i {
        font-size: 24px;
        padding: 40px 16px 24px 16px;
        color: #fff;
      }

      i:hover {
        color: #2f6558;
      }
    }
  }
}

.pt-container {
  display: flex;

}

.tab-pills-left {
  width: 80px;
  position: fixed;

  .nav-link {
    width: 80px;
    text-align: center;
    padding: 16px 4px;
    height: 80px;

    i {
      font-size: 24px;
    }
  }
}

.nav-pills .nav-link.active {
  background-color: #fff;
  color: #2f6558;

}

.content {
  position: absolute;
  left: 480px;
  padding: 40px;

}

.skills {
  //margin-right: 62px;
  ul {
    padding-left: 24px;
  }
}

.contact-list {
  list-style-type: none;
  padding: 0;

  i {
    font-size: 24px;
    color: #59ac98;
    padding: 8px 8px;
  }

  li {
    display: flex;
    align-items: center;

    p {
      color: #646464;
      margin: 0;
    }
  }
}

.project-card {
  display: flex;
  align-items: start;
  padding: 64px 0;


  img {
    height: 344px;
    box-shadow: 0 2px 4px rgba(8,8,61,0.1);

  }

  .project-description {
    padding-left: 40px;

    span {
      font-weight: 600;
      text-decoration-line: underline;
    }
  }

}

.about-me {
  text-align: center;
  padding: 16px 120px;

  .sk-lg-list {
    text-align: left;
    justify-content: space-between;
    padding-top: 24px;
  }
}

.main-btn {
  background-color: #fff;
  color: #59ac98;
  text-decoration: none;
  border: 1px solid #59ac98;
  padding: 8px 16px;
  border-radius: 25px;
}

.main-btn:hover {

  background-color: #59ac98;


  color: #fff;
  text-decoration: none;
}

.skill-card {
  padding: 16px;

  span {
    font-weight: 500;
    color: #59ac98;
  }

}

.my-info li , .languages li {
  list-style-type: none;
}

.about-text {

  h2 {
    padding-bottom: 16px;
  }
}

.mail-btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 17px;
  border-radius: 24px;
  text-decoration: none;

  i {
    padding: 0 4px;
  }
}

.mail-btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #59ac98;
  text-decoration: none;

}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 1199px) {
  #contact {
    padding: 32px;
    max-width: 630px;
    margin: 0 auto;
  }

  .pt-container {
    display: flex;
    flex-direction: column;
  }

  .tab-pills-left {
    position: static;
  }

  #bkg-gradient {
    position: static;
    padding: 0;
    width: 100%;


    .info {
      flex-direction: row;
      justify-content: center;

      .avatar-large {
        margin: 48px 16px;
      }

      h2 {
        font-size: 20px;
        margin: 0;
      }

      ul {
        display: none;
      }
    }
  }

  .content {
    position: static;
    padding: 0;
  }

  .nav-pills {
    flex-wrap: nowrap;
  }

  .avatar-large {
    //width: 160px;

  }

  .about-me {
    padding: 32px;

    .sk-lg-list {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  #role {
    font-size: 14px;
    padding-bottom: 16px;
  }

  .skill-card {
    padding: 16px;
  }

  .my-projects {
    padding: 32px 24px;

    .title {
      max-width: 630px;
      margin: 0 auto;
    }
  }

  .project-card {
    flex-wrap: wrap;
    padding: 32px 0;
    max-width: 630px;
    margin: 0 auto;

    .project-description {
    padding: 32px 0;
    }
  }

  .tab-pills-left {
    width: auto;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px 0px;

    .nav-link {
      margin: 0 10px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .project-card img {
    width: 100%;
    height: auto;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 1200px) and (max-width: 1499px) {
  .about-me {
    padding: 8px 32px;
  }

  .project-card {
    flex-wrap: wrap;
    padding: 32px 0;

    .project-description {
    padding: 32px 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 591px) and (max-width: 1198){
  .avatar-large {
    width: 240px;
  }
 }

 @media (max-width: 590px) {
  .avatar-large {
    width: 160px;
  }
 }
