<div class="pt-container ">
  <div class="tab-pills-left">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <i class="fas fa-user-circle"></i>
        About</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
        <i class="fas fa-code"></i>
        Projects</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
        <i class="fas fa-file-alt"></i>
        Resume</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
        <i class="far fa-envelope"></i>
        Contact</a>
    </div>
  </div>
  <div class="col" id="bkg-gradient">
    <div class="info">
      <img class="avatar-large" src="./assets/images/foto_perfil.jpeg" alt="portfolio-photo">
      <h2>Aline Utiyama</h2>
      <h5>Full-Stack Web Developer</h5>
      <ul>
        <li><a href="https://github.com/aline-utiyama" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.linkedin.com/in/alineutiyama/" target="_blank"><i class="fab fa-github"></i></i></a></li>
      <li><a href="mailto: as.utiyama@gmail.com"><i class="far fa-envelope"></i></a></li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <div class="about-me">
        <div class="about-text">
          <h2>About me</h2>
          <p>Born in Brazil and raised in Japan, I have a degree in Accounting and spent the first years of my career working for an accounting firm. <br>
            <br>
            In 2015 I founded Amora.jp, one of the largest E-Commerce website targeting Brazilians and Latinos in Japan, and have managed the company’s overall operation for over 5 years until its acquisition by a major retailer in 2020.<br>
            <br>
            During the time I was in charge of the E-commerce business I found passion for technology and decided to further build my career as a Web Developer.<br>
            <br>
            On top of all the customizations I have done on the E-commerce website itself, I also joined a 9 weeks Coding Bootcamp where I was able to improve my technical skills and learn more about modern software architecture.</p>
          <br>
        </div>
        <div class="d-flex">
          <div class="skills">
            <h4>Technical Skills</h4>
            <ul>
              <li> Ruby on Rails
              </li>
              <li>HTML, CSS, Bootstrap
              </li>
              <li>ES6 Javascript
              </li>
              <li>APIs, JSON, scraping
              </li>
              <li>Relational databases, SQL, Postgres
              </li>
              <li>Git, Github, technical workflow
              </li>
            </ul>
          </div>
          <div class="languages">
            <h4>Languages</h4>
            <ul>
              <li>English: Fluent
              </li>
              <li>Japanese: Business
              </li>
              <li>Portuguese: Native
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <h2>My projects</h2>
      <div class="project-card">
        <img src="./assets/images/mentorhub_homepage.png" alt="MentorHub">
        <div class="project-description">
          <h2>MentorHub</h2>
          <p>MentorHub is a streamlined app designed to take the complication out of creating a mentor/mentee relationship.</p>
          <p>Solution: A platform where highly experienced tutors will sell their experience to students, workers, and corporations.</p>
          <p>Target: Mentees looking for personalized help for startups, new ideas, or any sort of activity that requires sharp and experienced eyes on it.</p>
          <p>Built with Ruby on Rails, HTML, Css, JavaScript, Ajax and ActiveRecord as team of 3 people.</p>
        </div>
      </div>
      <div class="project-card">
        <img src="./assets/images/mentorhub_homepage.png" alt="MentorHub">
        <div class="project-description">
          <h2>MentorHub</h2>
          <p>MentorHub is a streamlined app designed to take the complication out of creating a mentor/mentee relationship.</p>
          <p>Solution: A platform where highly experienced tutors will sell their experience to students, workers, and corporations.</p>
          <p>Target: Mentees looking for personalized help for startups, new ideas, or any sort of activity that requires sharp and experienced eyes on it.</p>
          <p>Built with Ruby on Rails, HTML, Css, JavaScript, Ajax and ActiveRecord as team of 3 people.</p>
        </div>
      </div>
      <div class="project-card">
        <img src="./assets/images/mentorhub_homepage.png" alt="MentorHub">
        <div class="project-description">
          <h2>MentorHub</h2>
          <p>MentorHub is a streamlined app designed to take the complication out of creating a mentor/mentee relationship.</p>
          <p>Solution: A platform where highly experienced tutors will sell their experience to students, workers, and corporations.</p>
          <p>Target: Mentees looking for personalized help for startups, new ideas, or any sort of activity that requires sharp and experienced eyes on it.</p>
          <p>Built with Ruby on Rails, HTML, Css, JavaScript, Ajax and ActiveRecord as team of 3 people.</p>
        </div>
      </div>
      <div class="project-card">
        <img src="./assets/images/mentorhub_homepage.png" alt="MentorHub">
        <div class="project-description">
          <h2>MentorHub</h2>
          <p>MentorHub is a streamlined app designed to take the complication out of creating a mentor/mentee relationship.</p>
          <p>Solution: A platform where highly experienced tutors will sell their experience to students, workers, and corporations.</p>
          <p>Target: Mentees looking for personalized help for startups, new ideas, or any sort of activity that requires sharp and experienced eyes on it.</p>
          <p>Built with Ruby on Rails, HTML, Css, JavaScript, Ajax and ActiveRecord as team of 3 people.</p>
        </div>
      </div>
      <div class="project-card">
        <img src="./assets/images/mentorhub_homepage.png" alt="MentorHub">
        <div class="project-description">
          <h2>MentorHub</h2>
          <p>MentorHub is a streamlined app designed to take the complication out of creating a mentor/mentee relationship.</p>
          <p>Solution: A platform where highly experienced tutors will sell their experience to students, workers, and corporations.</p>
          <p>Target: Mentees looking for personalized help for startups, new ideas, or any sort of activity that requires sharp and experienced eyes on it.</p>
          <p>Built with Ruby on Rails, HTML, Css, JavaScript, Ajax and ActiveRecord as team of 3 people.</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">C</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
      <h2>Contact me</h2>
      <ul class="contact-list">
        <li><i class="far fa-envelope"></i> <a href="mailto: as.utiyama@gmail.com">as.utiyama@gmail.com</a></li>
        <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/alineutiyama/" target="_blank">https://www.linkedin.com/in/alineutiyama</a></li>
        <li><i class="fab fa-github"></i> <a href="https://github.com/aline-utiyama" target="_blank">https://github.com/aline-utiyama</a></li>
      </ul>
    </div>
  </div>
</div>
</div>