<div class="pt-container ">
  <div class="tab-pills-left">
    <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#about" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <i class="fas fa-user-circle"></i>
        About</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#projects" role="tab" aria-controls="v-pills-profile" aria-selected="false">
        <i class="fas fa-code"></i>
        Projects</a>
      <!-- <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
        <i class="fas fa-file-alt"></i>
        Resume</a> -->
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#contact" role="tab" aria-controls="v-pills-settings" aria-selected="false">
        <i class="far fa-envelope"></i>
        Contact</a>
    </div>
  </div>
  <div class="col" id="bkg-gradient">
    <div class="info">
      <img class="avatar-large" src="./assets/images/foto_perfil.jpeg" alt="portfolio-photo">
      <div>
        <h2>Aline Utiyama</h2>
        <p id="role">Full-Stack Web Developer</p>
        <ul>
          <li><a href="https://www.linkedin.com/in/alineutiyama" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://github.com/aline-utiyama" target="_blank"><i class="fab fa-github"></i></i></a></li>
      </ul>
      <a href="mailto: as.utiyama@gmail.com" class="mail-btn"><i class="far fa-envelope"></i>Contact me</a>
    </div>
  </div>
</div>
<div class="content">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <div class="about-me">
        <div class="about-text">
          <h3>About me</h3>
          <p>Born in Brazil and raised in Japan, I have a degree in Accounting and spent the first years of my career working for an accounting firm. <br>
            <br>
            In 2015 I founded Amora.jp, one of the largest E-Commerce website targeting Brazilians and Latinos in Japan, and have managed the company’s overall operation for over 5 years until its acquisition by a major retailer in 2020.<br>
            <br>
            During the time I was in charge of the E-commerce business I became passionate about technology and decided to further build my career as a Web Developer.<br>
            <br>
            On top of all the customizations I have done on the E-commerce website itself, I also joined a 9 weeks Coding Bootcamp where I was able to improve my technical skills and learn more about modern software architecture.</p>
          <br>
        </div>
        <div class="d-flex sk-lg-list">
          <div class="my-info skill-card">
            <h4>Personal</h4>
            <li><span>Age: </span>31</li>
            <li><span>Birth Date: </span>16/07/1989</li>
            <li><span>Residence: </span>Tokyo, Chuo-ku</li>
            <li><span>Country: </span>Brazil</li>
          </div>
          <div class="skills skill-card">
            <h4>Technical Skills</h4>
            <ul>
              <li> Ruby on Rails
              </li>
              <li>HTML, CSS, Bootstrap
              </li>
              <li>ES6 Javascript
              </li>
              <li>APIs, JSON, scraping
              </li>
              <li>Relational databases, SQL, Postgres
              </li>
              <li>Git, Github, technical workflow
              </li>
            </ul>
          </div>
          <div class="languages skill-card">
            <h4>Languages</h4>
            <li><span>English: </span>Fluent
            </li>
            <li><span>Japanese: </span>Business
            </li>
            <li><span>Portuguese: </span>Native
            </li>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <h3>My projects</h3>
      <div class="project-card">
        <img src="./assets/images/mentorhub.png" alt="MentorHub">
        <div class="project-description">
          <h4>MentorHub</h4>
          <p>MentorHub is a streamlined app designed to take the complication out of creating a mentor/mentee relationship.</p>
          <p><span>Solution:</span> A platform where highly experienced mentors can dedicate their time to coach students, professionals, and corporations on specific topics.</p>
          <p><span>Target:</span> Startup founders looking for advice on fundraising, recruiting, product development or any other relevant topic.</p>
          <p>Built with Ruby on Rails, HTML, Css, JavaScript, Ajax and ActiveRecord The team was composed by 3 people.</p>
          <a href="https://www.mentor-hub.app/" target="_blank" class="main-btn">View Site</a>
        </div>
      </div>
      <div class="project-card">
        <img src="./assets/images/moovers.png" alt="Moovers">
        <div class="project-description">
          <h4>Moovers</h4>
          <p>A marketplace where users can find a nearby driver who can help them to carry their purchases to their home or any desired location.</p>
          <p>
            <span>Solution:</span> Fast and affordable delivery service.
            In addition to that, the platform also creates job opportunities for drivers that want to be part of the network and earn an extra income, or do this for a living.</p>
          <p><span>Target:</span> Shoppers that cannot carry their purchases and want to receive them as soon as possible, mainly suited for big or heavy items such as home furniture.</p>
          <p>Built with Ruby on Rails, HTML, Css, JavaScript, Ajax and ActiveRecord The team was composed by 3 people.</p>
          <a href="https://mooovers.herokuapp.com/" target="_blank" class="main-btn">View Site</a>
        </div>
      </div>
      <div class="project-card">
        <img src="./assets/images/brastown.png" alt="BrasTown">
        <div class="project-description">
          <h4>BrasTown</h4>
          <p>Online directory for discovering local businesses ranging from bars, restaurants, and cafes to hairdressers, spas, and car dealers.</p>
          <p>The website mainly targets Brazilians living in Japan, as well as Portuguese speaking businesses.</p>
          <p>I was in charge of developing the entire website, design and content creation.</p>
          <a href="https://brastown.jp/" target="_blank" class="main-btn">View Site</a>
        </div>
      </div>
      <div class="project-card">
        <img src="./assets/images/amora.png" alt="Amora">
        <div class="project-description">
          <h4>AMORA</h4>
          <p>E-commerce website specialized in Brazilian fashion items, including shoes, underwear and accessories.</p>
          <p>The online store is based on Shopify and I was responsible for adding and configuring apps, web design (Including customizations on the template) and content creation.</p>
          <a href="https://amora.jp/" target="_blank" class="main-btn">View Site</a>
        </div>
      </div>
      <div class="project-card">
        <img src="./assets/images/gabus.png" alt="Gabus">
        <div class="project-description">
          <h4>Gabus</h4>
          <p>E-commerce website specialized in Women’s and Men’s designer clothing & High-end clothing.</p>
          <p>The online store is based on Shopify and I was responsible for adding and configuring apps, web design (Including customizations on the template) and overall consultation on how to optimize it for better results.</p>
          <a href="https://gabus.jp/" target="_blank" class="main-btn">View Site</a>
        </div>
      </div>
    </div>
    <!-- <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">C</div> -->
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="v-pills-settings-tab">
      <h3>Contact me</h3>
      <ul class="contact-list">
        <li><i class="far fa-envelope"></i>
          <p><a href="mailto: as.utiyama@gmail.com">as.utiyama@gmail.com</a></p>
        </li>
        <li><i class="fab fa-linkedin"></i>
          <p><a href="https://www.linkedin.com/in/alineutiyama/" target="_blank">https://www.linkedin.com/in/alineutiyama</a></p>
        </li>
        <li><i class="fab fa-github"></i>
          <p><a href="https://github.com/aline-utiyama" target="_blank">https://github.com/aline-utiyama</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>